* {
    margin : 0;
    padding: 0;
}

body {
    background-image: url('../images/bg.png');
    background-repeat: no-repeat;
    background-size: cover;
}
#searchBtn{
    width: 100px;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;

}
.input-and-search-btn {
    display : flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
   
}
#search-filter-input {
    margin-left: 150px;
   
}
#search-filter-input input {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
}
.button-and-add-new-student-btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
}

.button-and-add-new-student-btn a {
    background-color: aqua;
    padding: 5px;
    border-radius: 3px;
    margin-right: 150px;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    color : black;
}

.student-details-head{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    margin-left: 150px;
    margin-right: 150px; 
    margin-bottom: 3px;
}
.student-details-head div{
    border: 0.5px solid white;
    text-align: center;
    padding-top: 6px;
    padding-bottom: 6px;
   
    
}
.student-data {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    font-family: 'Roboto', sans-serif;
    margin-left: 150px;
    margin-right: 150px;
    row-gap: 2px;
}
.student-data div {
    text-align: center;
    color : black;
    font-size: 15px;
    background-color:blanchedalmond;
    padding-top: 5px;
    padding-bottom: 5px;


}


